*{
  box-sizing: border-box;
}


.flash-box{
  font-size: 1rem;
  font-weight: lighter;
  text-align:center; 
  color: white;
  background-color: $flash-color;
  width: 100vw;
}

.chat-side{
  width: 300px;
  color: $side-text-color;
  float: left;
  .side-header{
    background-color: #253141;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    &__box{
      display: flex;
      justify-content: space-between;
      width: 100%;
      font-weight: bold;
      &__menu{
        display: flex;
        .icon{
          font-size: 1rem;
          padding-top: 5px;
        }
         li{
          margin-left: 0.3rem;
          }
        }
      }
     a{
      color: $side-text-color;
    }
    &__btn{
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
    }
  }
   a{
    color: $side-text-color;
    text-decoration: none;
  }
  .groups{
    height: calc(100vh - 100px);
    background-color: #2f3e51;
    padding: 20px 20px 0;
    overflow: scroll;
    .group{
      margin-bottom:40px;
      &__group-name{
        font-size: 15px;
        margin-bottom: 5px;
      }
      &__latest-message{
        font-size: 11px;
        margin-bottom: 40px;
      }
    }
  }
}