$side-text-color: #FFFFFF !default;
$chat-text-color: #434A54 !default;
$chat-user-color: #999999 !default;
$flash-color: #38AEF0 !default;
$side-header-font: 16px !default;
$side-group-name: 15px !default;
$side-group-message: 11px !default;